.dashboard {
    .grid-x {
        .cell {
            display: flex;
            justify-content: center;
            .c100 {
                .subtext {
                    line-height: normal;
                    font-size: 14px;
                    width: 100%;
                    top: 64px;
                }
            }
        }
    }
}

body,
.tabs-content {
    background-color: $black;
    border: none;
    color: white;
}

.tabs-content.vertical {
    border: none;
}

.dash {
    .author {
        color: $primary1;
    }
    h2 {
        font-size: 2rem;
        text-align: center;
        font-weight: 200;
    }
    h3 {
        font-size: 1.25rem;
        float: left;
    }
    h4 {
        font-size: 1rem;
        float: right;
        padding-bottom: 20px;
    }
    h5 {
        font-size: .8rem;
        padding-top: 50px;
        font-weight: bold;
    }
    .cell {
        border: white 1px solid;
        padding: 5px;
        border-radius: 5px;
    }
}